/*.index{
    background-color:green;
    text color*/


.btn-dark{
    background-color: orange;
}

.formulario{

    display: block;
    margin: 20 px;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid green;
}

.logo{ 
    margin-right: 500px;
  
}

.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }